/* Navbar container */
.navbar {
    background-color: #f30e0e;
    padding: 10px;
  }
  #my-navbar {
    background-image: linear-gradient(to right,#780206,#061161);
    padding: 10px;
  }

  .custom-font {
    font-family: 'Exo 2', sans-serif;
  }
  
  /* Navbar brand */
  .navbar-brand {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Navbar toggler */
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  /* Navbar links */
  .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
  }
  
  /* Active link */
  .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  /* Hover effect */
  .navbar-nav .nav-link:hover {
    color: #ccc;
  }

  
  